$menu_hover: black;
$button_more: #9cc419;
$about_section_h2: #076031;
$header_section_h2: #076031;
$vegetable_item: #467c5b;
$border_heading: #0a6d38;
$order_num_bg: #0a6d38;
$plus_btn_bg: #9cc419;
$minus_btn_border: #9cc419;
$order_btn_bg: #9cc419;
$novelty_heading: #9cc419;
$certificate_heading: #076031;
$novelty_item_heading: #076031;
$cert_border: #b1ca5e;
$footer_bg: #f8f8f8;
$fx_header_bg: #f8f8f8;
$footer_menu_text: #b7d370;
$fx_header_text: #076031;