@media (max-width: 1200px) {
  header.first_sec {
    min-width: 0;
    width: 90%;
    ul.main_menu {
      min-width: 0;
      li {
        font-size: 1.5vw;
      }
    }
    .phone {
      font-size: 2vw;
    }
    .logo {
      width: 10%;
      height: auto;
    }
  }
  
  header.other_sec {
    min-width: 0;
    
    ul.main_menu {
      width: 55%;
      min-width: 0;
      li {
        font-size: 1.5vw;
      }
    }
    .phone {
      font-size: 2vw;
    }
    .logo {
      left: 7%;
    }
  }
  
  #head_section {
      .slogan {
          width: 35%;
          h2 {
              font-size: 3.5vw;
              line-height: 3.5vw;
          }
          button {
              font-size: 2vw;
              width: 48%;
              height: 25%;
          }
      }
  }
}