@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';

// common styles
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
input {
    background: none;
    border: none;
    font-size: 0.8vw;
    text-align: center;
    border-bottom: 1px solid white;
    width: 90%;
    color: white;
    height: 100%;
    &:focus {
        outline: 0;
    }
    &[type="submit"] {
        width: 25%;
        padding: 0;
        border: 1px solid white;
        border-radius: 20px;
        color: white;
        background-color: $order_btn_bg;
        text-transform: uppercase;
        height: 50%;
    }
}
body, button, input {
    font-family: segoeUi;
    font-weight: normal;
}
section {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.logo {
    position: absolute;
    border: 0px;
}
#freshmarket365_logo {
    display: block;
    width: 25%;
    height: 25vw;
    margin: auto;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    #circle_part {
        width: 100%;
        height: 100%;
    }
    #leaves_part {
        position: absolute;
        left: 50%;
        top: 50%;
        //width: 35%;
        width: 0;
    }
}

// header & footer
header {
    z-index: 1;
    
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 1200px;
    ul.main_menu {
        list-style: none;
        display: block;
        margin: 0 auto;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-justify-content: space-between; 
        justify-content: space-between;
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        flex-wrap: wrap;
        li {
            display: inline-block;
            text-transform: uppercase;
            font-size: 2.2vh;
            a {
                text-decoration: none;
                &:hover {
                    color: $menu_hover;
                }
            }
        }
    }
    .logo {
        background-color: white;
        border-radius: 56px;
    }
    .phone {
        position: absolute;
        font-size: 2.8vh;
    }
    
    &.first_sec {
        width: 90%;
        position: absolute;
        .logo {
            bottom: -15px;
            left: 50px;
            width: 109px;
            height: 109px;
        }
        ul.main_menu {
            width: 60%;
            min-width: 780px;
            border-bottom: 2px solid white;
            padding: 80px 0 10px;
            a {
                color: white;
            }
        }
        .phone {
            bottom: 12px;
            right: 0;
            color: white;
        }
    }
    
    &.other_sec {
        position: fixed;
        display: none;
        background-color: rgba(#f8f8f8, 1.0);
        height: 80px;
        width: 100%;
        line-height: 80px;
        .logo {
            height: 80%;
            width: auto;
            left: 100px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        ul.main_menu {
            width: 55%;
            min-width: 780px;
            border-bottom: none;
            padding: 0;
            li {
                margin-right: 4px;
            }
            a {
                color: #076031;
            }
        }
        .phone {
            color: #076031;
            top: 0;
            bottom: 0;
            right: 30px;
            margin: auto;
        }
    }
}
footer {
    padding: 20px 40px 40px;
    background-color: $footer_bg;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    .footer_menu {
        float: left;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 20px;
            font-size: 14px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $footer_menu_text;
                &:hover {
                    color: black;
                }
            }
        }
    }
    .line1 {
        overflow: auto;
        margin-bottom: 40px;
        .email {
            float: right;
            margin-left: 20px;
            color: $certificate_heading;
        }
        .phone {
            float: right;
        }
    }
    .line2 {
        overflow: auto;
        .copyright {
            float: left;
        }
        .address {
            float: right;
            width: 30%;
            text-align: right;
        }
    }
    .logo {
        top: 0;
        right: 0;
        bottom: 0;
        left: 150px;
        margin: auto;
        height: 80%;
    }
}

// placeholder styles
::-webkit-input-placeholder { color: white; }
::-moz-placeholder          { color: white; } /* Firefox 19+ */
:-moz-placeholder           { color: white; } /* Firefox 18- */
:-ms-input-placeholder      { color: white; }

// section styles
#head_section {
    background-image: url('../images/bg_image.jpg');
    
    .slogan {
        width: 600px;
        height: auto;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        text-align: center;
        line-height: 5.5vh;
        h2 {
            font-size: 5.5vh;
            font-weight: 100;
        }
        button {
            border: 2px solid white;
            border-radius: 21px;
            font-size: 3.5vh;
            color: white;
            padding: 10px 10px 15px;
            width: 250px;
            height: 60px;
            cursor: pointer;
            outline: none;
            &.order {
                background: rgba(255, 255, 255, 0.15);
            }
            &.more {
                background: $button_more;
                border: none;
            }
        }
    }
}
#about_section {
    padding: 110px 20% 20px;
    box-sizing: border-box;
    text-align: left;
    .top_sec {
        @include clearfix;
        margin-bottom: 30px;
    }
    .left_sec {
        float: left;
        width: 50%;
        .pic {
            width: 220px;
            display: block;
        }
    }
    .right_sec {
        float: right;
        width: 50%;
    }
    h2 {
        color: $about_section_h2;
        font-size: 3vh;
        margin: 3vh 0;
    }
    p {
        font-size: 2.2vh;
    }
}
#advantages_section {
    position: relative;
    .header_block {
        opacity: 0.3;
        width: 270px;
        height: auto;
        position: absolute;
        h2 {
            color: $header_section_h2;
            font-size: 3vh;
        }
        p {
            font-size: 2.2vh;
        }
        &.h_left {
            left: 10%;
        }
        &.h_top {
            top: 15%;
        }
        &.h_bottom {
            bottom: 12%;
        }
        &.h_right {
            right: 10%;
            text-align: right;
        }
    }
}
#product_section {
    padding: 100px 15% 20px;
    box-sizing: border-box;
    text-align: center;
    .top_sec {
        @include clearfix;
        margin-bottom: 20px;
    }
    .left_sec {
        float: left;
        width: 50%;
    }
    .right_sec {
        float: right;
        width: 50%;
        .pic {
            width: 220px;
            display: block;
            margin: 0 auto;
        }
    }
    .bottom_sec {
        min-width: 560px;
    }
    h2 {
        color: $about_section_h2;
        text-align: center;
        font-size: 3vh;
        margin: 3vh 0;
    }
    p {
        font-size: 2.2vh;
    }
    .vegetables_collection {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        .vegetables_item {
            text-align: left;
            height: 30px;
            background: url(../images/onion.png) no-repeat top left;
            background-size: 30px 30px;
            color: $about_section_h2;
            font-size: 1.9vh;
            padding-left: 30px;
            padding-top: 8px;
        }
    }
}
#order_section {
    padding-top: 80px;
    background-image: url(/images/petrushka.jpg);
    color: white;
    .heading {
        width: 100%;
        height: 60px;
        background-color: rgba(black, 0.3);
        text-align: center;
        line-height: 60px;
        margin-bottom: 4vh;
        h1 {
            margin: 0;
            text-transform: uppercase;
            color: white;
            font-size: 3vh;
        }
    }
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    p {
        font-size: 2.7vh;
        text-align: center;
        &:nth-of-type(8) {
            margin-top: 4vh;
        }
        
    }
}
#contacts_section {
    padding: 80px 0;
    box-sizing: border-box;
    .heading {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: $novelty_heading;
        margin-bottom: 20px;
        h1 {
            color: white;
            font-size: 3vh;
            text-transform: uppercase;
            margin: 0;
        }
    }
    a {
        text-decoration: none;
        color: $certificate_heading;
        font-weight: bold;
    }
    p {
        font-size: 2.7vh;
        text-align: center;
        &:nth-of-type(2n+1) {
            margin-top: 2vh;
        }
        &:nth-of-type(1) {
            margin-top: 0;
        }
        &.tel {
            color: $certificate_heading;
            font-weight: bold;
        }
    }
}